<div class="container ">
    <div class="introtext">
        <h1>Intro text</h1>
        <h1>FITNESS PRO</h1>
        <h3>30 days Challenge! </h3>
        <pre>General fitness training works towards broad goals <br>of overall health and well-being, rather than narrow <br>goals of sport competition, larger muscles or concerns over appearance. 
        </pre>
    </div>
    <div>
        <button class="btn btn-primary btn-lg btn-block" (click)="placeAppointment()">Apply For Trainer</button>
    </div>
</div>